.background {
  position: relative;
  overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.background:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url(../images/ExampleBackground.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.abouthero {
  background-image: url(../images/Blue.png);
}

h3 {
  margin: 0.9375em;
}


h3 span {
  font-family: 'Lato Light', sans-serif;
  color: #8e5942;
  text-transform: uppercase;
  font-weight: 200;
}

p {
  margin: 0.9375em;
}

.bakersinfo a {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: #be5f27;
  display: flex;
  align-items: flex-end;
}

.bakersinfo a:hover {
  text-decoration: underline;
}

/*.bakersplash {
  background-color: #0a0a0a;
}*/

.bakers {
  height: 15.375em;
}

.bakerflex {
  margin-bottom: 0.625em;
}

.customorder {
  background-color: #8e5942;
  text-align: center;
  padding: 1.25em;
}

#cassandra {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  margin: 0;
}

#riley img {
  margin: 0;
}

.sponsorFlexContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  border-bottom-color: black;
  border-bottom-width: 0.2em;
  border-bottom-style: double;
}

.altSponsorFlexContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-around;
  border-bottom-color: black;
  border-bottom-width: 0.2em;
  border-bottom-style: double;
}

#noBorder{
  border: none;
}


@media(min-width: 660px) {
  .abouthero {
    height: 28.75em;
  }
  h1 {
    margin-bottom: -50px;
    overflow: visible;
    z-index: 1;
  }
  .bakersinfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .bakersinfo img {
    width: 18.75em;
    height: auto;
  }
  #cassandrainfo {
    flex-direction: row-reverse;
  }
  #cassandrainfo img {
    width: auto;
    height: 18.125em;
    margin-right: 1em;
  }
  #cassandraflip {
    text-align: right;
    margin-bottom: 2.625em;
  }
  .bakersplash {
    display: flex;
    align-items: flex-end;
    height: 18.75em;
    width: 50%;
    z-index: -1;
  }
  .bakerflex {
    width: 50%;
  }
  #riley {
    height: 21.875em;
  }
  #riley img {
    margin: 0;
  }
}

@media(min-width: 940px) {
  .abouthero {
    height: 39.75em;
  }
  .bakersinfo img {
    width: 24.75em;
  }
  #cassandrainfo img {
    height: 23.125em;
  }
  .bakersplash {
    height: 24.75em;
  }
  .bakerflex {
    margin-bottom: 2.625em;
  }
  #cassandraflip {
    margin-bottom: 4.625em;
  }
}
/* insert comment here */
