

.navFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  background: grey;
  margin-left: 13em;
  margin-right: 13em;
}

.navLogo {
  display: flex;
  justify-content: center;
  border-bottom-style: double;
  border-bottom-width: 0.2em;
  border-bottom-color: black;
  border-top-style: double;
  border-top-width: 0.2em;
  border-top-color: black;
}

.navLogoImg {
  max-height: 5em;
  width: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 13em;
  margin-right: 13em;
}

nav p {
  text-align: center;
  line-height: 2em;
  font-family: 'Assistant', sans-serif;
  font-size: 1.1em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover{
color: rgb(43, 226, 58);
}

h1 {
  font-family: 'lato', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footerFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  background: grey;
  margin-left: 13em;
  margin-right: 13em;
  justify-content: space-evenly;
}

/*.footerLogo {
  display: flex;
  justify-content: center;
  border-bottom-style: double;
  border-bottom-width: 0.2em;
  border-bottom-color: black;
  border-top-style: double;
  border-top-width: 0.2em;
  border-top-color: black;
}*/

.footerLogoImg {
  max-height: 5em;
  width: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

/*.footerImageIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 13em;
  margin-right: 13em;
}*/

footer p {
  text-align: center;
  line-height: 2em;
  font-family: 'Assistant', sans-serif;
  font-size: 1.1em;
  margin: 0;
}

